[submodule "benchmarks/env"]
	path = benchmarks/env
	url = https://github.com/riscv/riscv-test-env.git
[submodule "riscv-vector-tests"]
	path = riscv-vector-tests
	url = https://github.com/chipsalliance/riscv-vector-tests.git
